*{
    margin: 90px auto 100px;
    width: 75%;
}
table, td{
    border: 1px solid;
}
#header{
    height: 50px;
    background-color: lightgray;
}
h3{
    font-size: xx-large;
    text-align:left;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
#footer{
    height: 30px;
    text-align: center;
    background-color: darkgray ;
}
#body .menu{
    height: 250px;
    width: 25%;
    vertical-align: top;
    background-color: #fde5a1 ;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
#body .content{
    width: 75%;
    vertical-align: top;
    background-color: white;
}
#body .content p{
    padding: 0;
    margin: 0;
}